li {
    padding: 5px;
    margin: 5px;
    background: #dfbf95;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body {
    background-image: url(../images/burger-seamless-pattern-background-vector-design_22159-34.jpg);
    
  }

  .container{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #f1ece5;
    opacity: .90;
    margin-left: 25%;
    margin-right: 25%;
  }

h2 {
  margin-bottom: 2%;
  font-family: ;
}

